@import './mixins';
@import './variables';

.control-panel-container {
  position: absolute;
  top: 0;
  width: 100%;
  height: 54px;
  background: url("../assets/images/gray_noise.jpg");
  background-repeat: repeat;
  background-size: 100px 100px;
  z-index: 5;
  display: flex;
  overflow: hidden;

   .inner-container {
      @include flexContainer(center, space-between);
      margin: 0 auto;
      width: 1200px;
      height: 100%;
     }

   button, label{
      @include flexContainer(center, center);
      background: transparent;
      border: none;
      padding: 0 0.5rem;
      cursor: pointer;
    }

    svg {
     width: 90%;
    }

    .active {
      svg {
            filter: drop-shadow(0px 0px 7px $active-blue);
           path {
             fill: $active-blue;
              stroke: none;
           }
        }
    }
    
    .cp-toolbox {
      @include flexSetJC(4,flex-start);
      margin-left: 4rem;
    }

    .cp-zoom-buttons {
       @include flexSetJC(2,center);
    }

    .cp-undo-container {
       @include flexSetJC(1,center);
    }

    .upload-download-buttons {
       @include flexSetJC(3,flex-end);
       margin-right: 4rem;
    }
}

@media (max-width: 768px){
  .control-panel-container{

    button, label{
      padding: 0 0.25rem;
    }

    svg{
      width: 75%;
    }

    .cp-toolbox {
      margin-left: 1rem;
    }

    .upload-download-buttons {
      margin-right: 1rem;
    }
  }
}

@media (max-width: 568px){
  .control-panel-container{

    button, label{
      padding: 0 0.1rem;
    }

    svg{
      width: 70%;
    }

    .cp-toolbox{
      margin-left: 0.5rem;
    }

    .upload-download-buttons{
       margin-right: 0.5rem;
    }
  }
}