@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-gray: #333333;
  --gray: #434343;
  --light-gray: #9e9e9e;
  --active-blue: #4090ef;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: var(--gray);
  font-family: "Inter", sans-serif;
}

svg {
  overflow: visible;
}

/* Control panel (top bar) */
.control-panel-container {
  position: absolute;
  top: 0;
  width: 100%;
  height: 54px;
  background: url("./gray_noise.jpg");
  background-repeat: repeat;
  background-size: 100px 100px;
  z-index: 5;
  display: flex;
  overflow: hidden;
}

.control-panel-container .inner-container {
  margin: 0 auto;
  width: 1200px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.control-panel-container button,
.control-panel-container label {
  background: transparent;
  border: none;
  padding: 0 0.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.control-panel-container svg {
  width: 90%;
}

/* Active state */
.control-panel-container .active svg path {
  fill: var(--active-blue);
  stroke: none;
}

.control-panel-container .active svg {
  filter: drop-shadow(0px 0px 7px var(--active-blue));
}

.cp-toolbox {
  flex: 4;
  display: flex;
  justify-content: flex-start;
  margin-left: 4rem;
}

.cp-zoom-buttons {
  flex: 2;
  display: flex;
  justify-content: center;
}

.cp-undo-container {
  flex: 1;
  display: flex;
  justify-content: center;
}

.upload-download-buttons {
  flex: 3;
  display: flex;
  justify-content: flex-end;
  margin-right: 4rem;
}

/* Main container (image section) */
.main-container {
  position: absolute;
  top: 54px;
  width: 100%;
  height: calc(100% - 216px);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--gray);
  color: #fff;
  overflow: hidden;
}


.drag-area {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("./imgs/placeholder_image.svg");
  background-size: 66% 66%;
  background-repeat: no-repeat;
  background-position: center;
}

.drag-area.active {
  background: url("./imgs/placeholder_image_active.svg");
  background-size: 66% 66%;
  background-repeat: no-repeat;
  background-position: center;
}

.placeholder-text {
  text-align: center;
  font-size: 36px;
}

.image-container {
  width: 100%;
  height: 100%;
  margin: 0;
  aspect-ratio: 1 / 1;
  position: relative;
}

.image-element {
  display: block;
  max-height: 100%;
  margin: 0 auto;
}

/* Current tool container (bottom bar) */
.tool-container {
  position: fixed;
  bottom: 0;
  height: 162px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background: url("./gray_noise.jpg");
  background-repeat: repeat;
  background-size: 100px 100px;
  filter: drop-shadow(0px -4px 12px rgba(0, 0, 0, 0.15));
  border-radius: 0;
  z-index: 5;
  overflow: hidden;
}

.tool-container .placeholder-button label {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.tool-container .placeholder-button {
  width: 75px;
}

.tool-container .placeholder-button svg {
  cursor: pointer;
}

/* Cropper tool settings */
.crop-controls {
  margin: 0 auto;
  width: 1200px;
  max-width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.crop-controls button {
  background: transparent;
  border: none;
  padding: 0 0.25rem;
  cursor: pointer;
}

.crop-controls svg {
  display: inline-block;
  width: 90%;
}

.aspect-ratio-buttons {
  flex: 6;
  margin-left: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aspect-ratio-buttons button.active svg path {
  fill: var(--active-blue);
  stroke: none;
}

.aspect-ratio-buttons button.active svg {
  filter: drop-shadow(0px 0px 7px var(--active-blue));
}

.rotation-buttons {
  flex: 4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.apply-crop-container {
  flex: 1;
  margin-right: 4rem;
}

/* Painting tool settings */
.paint-controls {
  margin: 0 auto;
  width: 1200px;
  max-width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.paint-controls button {
  background: transparent;
  border: none;
  padding: 0 0.25rem;
  cursor: pointer;
  width: 75px;
}

.paint-controls svg {
  display: inline-block;
  width: 90%;
}

.painting-tools {
  flex: 8;
  margin-left: 4rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.painting-tools button.active svg path {
  fill: var(--active-blue);
}

.painting-tools button.active svg {
  filter: drop-shadow(0px 0px 7px var(--active-blue));
}

.painting-tools #color-picker {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  padding: 0;
  width: 90px;
  height: 90px;
  border: none;
  cursor: pointer;
  margin-right: 1.5rem;
}

.painting-tools #color-picker::-webkit-color-swatch {
  border-radius: 50%;
  border: 3px solid #fff;
  box-shadow: 0px 12px 12px rgba(0, 0, 0, 0.66);
}

.painting-tools #color-picker::-moz-color-swatch {
  border-radius: 50%;
  border: 3px solid #fff;
  box-shadow: 0px 12px 12px rgba(0, 0, 0, 0.66);
}

.brush-size-settings {
  display: flex;
  align-items: center;
  justify-content: center;
}

.brush-size-settings #size-brush {
  text-align: center;
  display: block;
  width: 2rem;
  font-size: 24px;
  margin: 0 0.25rem;
}

#painting-brush {
  margin-left: 1rem;
}

.painting-apply-container {
  flex: 2;
  margin-right: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Set custom cursor in paint mode */

.main-container canvas {
  cursor: none;
}

.paint-brush-cursor {
  /* width: 100px;
  height: 100px; */
  z-index: 10;
  background: url('./cursor.svg');
  background-size: 100%;
  background-repeat: no-repeat;
  pointer-events: none;
  mix-blend-mode: difference;
}

/* Filters settings */
.filters-controls {
  margin: 0 auto;
  width: 1200px;
  max-width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.filters-left-col,
.filters-right-col {
  height: 100%;
  flex: 5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
}

.filters-left-col {
  margin-left: 4rem;
}

.filters-apply-reset {
  flex: 1;
  margin-right: 4rem;
  background: transparent;
  border: none;
  padding: 0 0.5rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.filters-apply-reset button {
  background: transparent;
  border: none;
  padding: 0 0.25rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.filters-apply-reset svg {
  width: 90%;
}

.filter-range-slider {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 95%;
}

.filter-range-slider label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 1rem;
  width: 5%;
}

.filter-range-slider input[type="range"] {
  -webkit-appearance: none;
  background: transparent;
  width: 90%;
}

.filter-range-slider input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

.filter-range-slider input[type="range"]:focus {
  outline: none;
}

.filter-range-slider input[type="range"]::-ms-track {
  width: 90%;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

.filter-range-slider input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 1.25rem;
  width: 1.25rem;
  border-radius: 50%;
  background: var(--active-blue);
  cursor: pointer;
  margin-top: -0.5rem;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.88), 0px 4px 8px rgba(0, 0, 0, 0.66);
}

.filter-range-slider input[type="range"]::-moz-range-thumb {
  height: 1.25rem;
  width: 1.25rem;
  border-radius: 50%;
  background: var(--active-blue);
  border: none;
  cursor: pointer;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.88), 0px 4px 8px rgba(0, 0, 0, 0.66);
}

.filter-range-slider input[type="range"]::-ms-thumb {
  height: 1.25rem;
  width: 1.25rem;
  border-radius: 50%;
  background: var(--active-blue);
  cursor: pointer;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.88), 0px 4px 8px rgba(0, 0, 0, 0.66);
}

.filter-range-slider input[type="range"]::-webkit-slider-runnable-track {
  height: 0.35rem;
  cursor: pointer;
  background: #fff;
  border-radius: 0.25rem;
}

.filter-range-slider input[type="range"]:focus::-webkit-slider-runnable-track {
  background: var(--light-gray);
}

.filter-range-slider input[type="range"]::-moz-range-track {
  height: 0.35rem;
  cursor: pointer;
  background: #fff;
  border-radius: 0.25rem;
}

.filter-range-slider input[type="range"]:focus::-moz-range-track {
  background: var(--light-gray);
}

.filter-range-slider input[type="range"]::-ms-track {
  height: 0.35rem;
  cursor: pointer;
  background: #fff;
  border-radius: 0.25rem;
}

/* Rotation setting */
.rotation-controls {
  margin: 0 auto;
  width: 1200px;
  max-width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rotation-controls button {
  background: transparent;
  border: none;
  padding: 0 0.25rem;
  cursor: pointer;
}

.rotation-controls svg {
  display: inline-block;
  width: 90%;
}

.rotation-slider-container {
  margin-left: 4rem;
  flex: 8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.rotation-slider-container label {
  font-size: 24px;
  margin-bottom: 3rem;
  margin-left: 0.75rem;
}

.rotation-slider-container .slider-elements {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rotation-slider-container .slider-elements svg {
  position: absolute;
  top: -2rem;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  opacity: 0.5;
  pointer-events: none;
  z-index: -1;
}

.rotation-slider-container input[type="range"] {
  -webkit-appearance: none;
  background: transparent;
  width: 100%;
}

.rotation-slider-container input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

.rotation-slider-container input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

.rotation-slider-container input[type="range"]:focus {
  outline: none;
}

.rotation-slider-container input[type="range"]::-ms-track {
  width: 98%;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

.rotation-slider-container input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 2rem;
  width: 0.5rem;
  border-radius: 0;
  background: var(--active-blue);
  cursor: pointer;
  margin-top: -1.5rem;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.88), 0px 4px 8px rgba(0, 0, 0, 0.66);
}

.rotation-slider-container input[type="range"]::-moz-range-thumb {
  height: 2rem;
  width: 0.5rem;
  background: var(--active-blue);
  border-radius: 0;
  border: none;
  cursor: pointer;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.88), 0px 4px 8px rgba(0, 0, 0, 0.66);
}

.rotation-slider-container input[type="range"]::-ms-thumb {
  height: 2rem;
  width: 0.5rem;
  background: var(--active-blue);
  cursor: pointer;
  margin-top: -1.5rem;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.88), 0px 4px 8px rgba(0, 0, 0, 0.66);
}

.rotation-slider-container input[type="range"]::-webkit-slider-runnable-track {
  height: 0.35rem;
  cursor: pointer;
  background: transparent;
  position: relative;
}

.rotation-slider-container input[type="range"]:focus::-webkit-slider-runnable-track {
  background: transparent;
}

.rotation-slider-container input[type="range"]::-moz-range-track {
  height: 0.35rem;
  cursor: pointer;
  background: transparent;
  border-radius: 0.25rem;
}

.rotation-slider-container input[type="range"]::-ms-track {
  height: 0.35rem;
  cursor: pointer;
  background: #fff;
  border-radius: 0.25rem;
}

.rotation-slider-buttons {
  flex: 1;
  margin-right: 4rem;
  background: transparent;
  border: none;
  padding: 0 0.5rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hide {
  display: none;
}

/* Loading screen */

.loading-screen {
  position: absolute;
  top: 54px;
  width: 100%;
  height: calc(100% - 216px);
  left: 0;
  background-color: var(--gray);
  z-index: 4;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

.loading-screen.hide {
  display: none;
}

.loading-screen svg {
  width: 150px;
  height: 150px;
}

@media (max-width: 768px) {

  /* Control panel (top bar) */
  .control-panel-container button,
  .control-panel-container label {
    padding: 0 0.25rem;
  }

  .control-panel-container svg {
    width: 75%;
  }

  .cp-toolbox {
    margin-left: 1rem;
  }

  .upload-download-buttons {
    margin-right: 1rem;
  }

  /* Main container (image section) */
  .drag-area {
    width: 100%;
    height: 100%;
  }

  .placeholder-text {
    display: none;
  }

  /* Cropper tool settings */
  .crop-controls {
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
  }

  .crop-controls button {
    padding: 0 0.1rem;
  }

  .crop-controls svg {
    display: inline-block;
    height: 64px;
  }

  .aspect-ratio-buttons {
    margin-left: 0;
    height: 50%;
    width: 75%;
  }

  .rotation-buttons {
    height: 50%;
    width: 75%;
  }

  .apply-crop-container {
    width: 25%;
    margin-right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* Painting tool settings */
  .paint-controls {
    width: 100%;
  }

  .paint-controls button {
    background: transparent;
    border: none;
    padding: 0 0.1rem;
    cursor: pointer;
    width: 50px;
  }

  .paint-controls svg {
    height: 60px;
  }

  .painting-tools {
    flex: 2;
    margin-left: 1rem;
  }

  .painting-tools #color-picker {
    width: 70px;
    height: 70px;
    margin-right: 1rem;
  }

  .brush-size-settings svg {
    width: 36px;
  }

  .painting-apply-container {
    flex: 1;
    margin-right: 1rem;
    margin-left: -2rem;
    justify-content: flex-end;
  }

  /* Filters controls */
  .filters-controls {
    width: 100%;
    justify-content: center;
  }

  .filters-left-col {
    margin-left: 1rem;
  }

  .filters-apply-reset {
    flex: 2;
    margin-right: 1rem;
    padding: 0 0.25rem;
  }

  .filters-apply-reset button {
    padding: 0 0.1rem;
  }

  .filters-apply-reset svg {
    width: 80%;
  }

  .filter-range-slider label {
    width: 7%;
  }

  .hide {
    display: none;
  }

  /* Rotation setting */
  .rotation-controls {
    width: 100%;
    flex-direction: column;
    justify-content: center;
  }

  .rotation-controls button {
    padding: 0 0.1rem;
  }

  .rotation-controls svg {
    display: inline-block;
    width: 80%;
  }

  .rotation-slider-container {
    margin: 0;
    padding: 1rem;
  }

  .rotation-slider-container label {
    font-size: 16px;
    margin-bottom: 2rem;
    margin-left: 0.4rem;
  }

  .rotation-slider-buttons {
    margin-right: 0;
    background: transparent;
    border: none;
    padding: 0 0.25rem;
    cursor: pointer;
    display: flex;
    flex-direction: row;
  }
}

@media (max-width: 568px) {

  /* Control panel (top bar) */
  .control-panel-container button,
  .control-panel-container label {
    padding: 0 0.1rem;
  }

  .control-panel-container svg {
    width: 70%;
  }

  .cp-toolbox {
    margin-left: 0.5rem;
  }

  .upload-download-buttons {
    margin-right: 0.5rem;
  }

  /* Cropper tool settings */
  .crop-controls svg {
    height: 45px;
  }

  .aspect-ratio-buttons {
    flex: 1;
  }

  .rotation-buttons {
    flex: 1;
    margin-left: -2rem;
    width: 50%;
  }

  .apply-crop-container {
    margin-right: 0;
    padding: 1rem 0.5rem;
    position: absolute;
    bottom: 0;
    right: 0;
    height: 60%;
  }

  .apply-crop-container svg {
    width: 45px;
  }

  /* Painting tool settings */
  .paint-controls {
    flex-direction: column;
    justify-content: center;
  }

  .paint-controls svg {
    height: 50px;
  }

  .paint-controls button {
    width: 40px;
  }

  .painting-tools {
    flex: 1;
    margin-left: 0;
    height: 50%;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
  }

  .painting-tools #color-picker {
    width: 3rem;
    height: 3rem;
    margin-right: 0.5rem;
  }

  .brush-size-settings {
    margin-top: 0.5rem;
  }

  .brush-size-settings svg {
    width: 25px;
  }

  .brush-size-settings #size-brush {
    width: 1.5rem;
    font-size: 16px;
    margin: 0 0.25rem 0.15rem 0.25rem;
  }

  #painting-brush {
    margin-left: 0.5rem;
  }

  .painting-apply-container {
    margin-top: -1rem;
    margin-right: 0;
    margin-left: 0;
    height: 50%;
    display: flex;
    align-items: center;
  }

  /* Filters controls */
  .filters-left-col,
  .filters-right-col {
    padding: 0.1rem;
  }

  .filters-left-col {
    margin-left: 0;
  }

  .filters-apply-reset {
    flex: 2;
    margin-right: 0rem;
    padding: 0 0.25rem;
  }

  .filters-apply-reset button {
    padding: 0rem;
  }

  .filters-apply-reset svg {
    width: 75%;
  }

  .filter-range-slider label {
    width: 12%;
  }

  /* Rotation setting */
  .rotation-slider-container {
    padding: 0.25rem;
  }

  .hide {
    display: none;
  }
}